<aside class="sidebar bg-dark">
  <div class="sidebar-brand">
    <a href="/">Task Management</a>
  </div>
  <ul class="nav flex-column sidebar-nav">
    <li class="nav-item">
      <% if(title=="Home") { %>
        <a class="nav-link active" href="/home"><i class="fa-solid fa-lg fa-house"></i> <span class="nav-text">Home</span></a>
      <% } else { %>
        <a class="nav-link" href="/home"><i class="fa-solid fa-lg fa-house"></i> <span class="nav-text">Home</span></a>
      <% } %>
    </li>
    <li class="nav-item">
      <% if(title=="About us") { %>
        <a class="nav-link active" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> <span class="nav-text">About</span></a>
      <% } else { %>
        <a class="nav-link" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> <span class="nav-text">About</span></a>
      <% } %>
    </li>
    <li class="nav-item">
      <% if(title=="Products") { %>
        <a class="nav-link active" href="/products"><i class="fa-brands fa-lg fa-elementor"></i> <span class="nav-text">Products</span></a>
      <% } else { %>
        <a class="nav-link" href="/products"><i class="fa-brands fa-lg fa-elementor"></i> <span class="nav-text">Products</span></a>
      <% } %>
    </li>
    <li class="nav-item">
      <% if(title=="Services") { %>
        <a class="nav-link active" href="/services"><i class="fa-solid fa-lg fa-gears"></i> <span class="nav-text">Services</span></a>
      <% } else { %>
        <a class="nav-link" href="/services"><i class="fa-solid fa-lg fa-gears"></i> <span class="nav-text">Services</span></a>
      <% } %>
    </li>
    <li class="nav-item">
      <% if(title=="Contact us") { %>
        <a class="nav-link active" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> <span class="nav-text">Contact us</span></a>
      <% } else { %>
        <a class="nav-link" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> <span class="nav-text">Contact us</span></a>
      <% } %>
    </li>
  </ul>
</aside>

<div class="main-content">